@model DemandMoreVertical.Web.ViewModels.HomeViewModel

<div class="row" style="width:510px">
    <div class="col-md-4"><img src="@Model.Athlete.profile" /></div>
    <div class="col-md-6">
        <h2 class="pull-right">@Model.Athlete.firstname @Model.Athlete.lastname</h2>
    </div>
    <strong>@Model.Athlete.country</strong>
</div>

<table class="table table-striped">
    <tr>
        <td><strong>Title</strong></td>
        <td><strong>Elevation</strong></td>
        <td><strong>Start Lat/Long</strong></td>
        <td><strong>Date</strong></td>
    </tr>
    @foreach (var a in Model.Activities.Where(w => w.type.ToUpper() == "RIDE"))
    {
        var total = Convert.ToDouble(a.total_elevation_gain) * 3.2808;
        <tr>
            <td>@a.name</td>
            <td>@Convert.ToInt32(total).ToString() ft</td>
            @if (a.start_latitude != null)
            {
                <td>@a.start_latitude / @a.start_longitude</td>
            }
            <td>@String.Format("{0:d}", a.start_date)</td>
        </tr>
    }
</table>
