@model DemandMoreVertical.Web.ViewModels.HomeViewModel

<div class="row">
    <img src="@Model.Athlete.profile" /><br />
    <h3>
        @Model.Athlete.firstname @Model.Athlete.lastname<br />
    </h3>
    <h4>
        @Model.Athlete.city, @Model.Athlete.state
    </h4>
</div>


@if (Model.Activities.Count() == 0)
{
    <h3>No activities? You better get out there!</h3>
}
else
{
    <br />
    <p>You weekly stats for @Model.Monday.ToString("MM/dd/yyyy") through @Model.Sunday.ToString("MM/dd/yyyy")</p>
    <table class="table table-striped">
        <tr>
            <td><strong>Title</strong></td>
            <td><strong>Elevation</strong></td>
            <td><strong>Park</strong></td>
            <td><strong>Date</strong></td>
        </tr>
        @foreach (var a in Model.Activities)
        {
            var total = Convert.ToDouble(a.ElevationGain);
            <tr>
                <td>@a.ActivityName</td>
                <td>@Convert.ToInt32(total).ToString() ft</td>
                <td>@a.ParkName</td>
                <td>@String.Format("{0:d}", a.ActivityDate)</td>
            </tr>
        }
    </table>
}