@model DemandMoreVertical.Web.ViewModels.ParkOverall


@{
    var monday = DateTime.Now;
    while (monday.DayOfWeek != DayOfWeek.Monday)
    {
        monday = monday.AddDays(-1);
    }
    int place = 1;
}

<h2>Cuyahoga Valley National Park</h2>
<br />
<p>Results for <strong>@monday.ToString("MM/dd/yyyy") through @monday.AddDays(6).ToString("MM/dd/yyyy")</strong></p>
@if (Model.Elevation.Count() == 0)
{
    <p>0 activities for this park</p>
}
else
{

    <h2>This week's Leaders</h2>
    <br />
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>Athlete</th>
            <th>Total Gain</th>
        </tr>
    @foreach(var t in Model.ParkTotals)
    {
        <tr>
            <td>@place</td><td>@t.Athlete</td><td>@t.TotalGain ft</td>
        </tr>
        place++;
    }
    </table>
    <br />
    <h2>This week's Activities</h2>
    <table class="table table-striped">
        <tr>
            <th>
                Activity
            </th>
            <th>
                Athlete
            </th>
            <th>
                Ele. Gain
            </th>
           
        </tr>

        @foreach (var item in Model.Elevation)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Athlete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ElevationGain) ft
                </td>
                
            </tr>
        }

    </table>
}